.account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account h2 {
    margin-top: 150px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 80px;
}

.input {
    height: 40px;
    width: 400px;
    padding: 10px;
    font-size: 16px;
    border-radius: 15px;
    border: 1px solid #f2f2f2;
}

.input:focus {
    outline: none;
}

.button {
    color: white;
    border: none;
    padding: 20px;
    width: 420px;
    font-size: large;
    font-weight: 500;
    border-radius: 15px;
    background-color: black;
    transition: all 0.4s;
    cursor: pointer;
    letter-spacing: 1px;
}

.button:hover {
    opacity: 90%;
    letter-spacing: 3px;
    transform: scale(1.05);
}

.account a {
    color: #6e71cc;
}

.remove_toast {
    display: none;
}

.slideTop {
    -webkit-animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    background-color: black;
    position: absolute;
    z-index: 10000;
    color: white;
    padding: 20px;
    border-radius: 20px;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
        letter-spacing: 5px;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
        letter-spacing: 0px;
    }
}

@media all and (min-width:0px) and (max-width:700px) {
    .form {
        width: 100%;
    }

    .button {
        width: 80%;
        font-size: medium;
    }

    .input {
        width: 80%;
    }
}